.mobile-explore{
  width: 100%;
  height: auto;

  .home-listing{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    ul{
      padding: 10px;
      height: 100%;
      li{
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
        width: 200px;
      }
    }
  }
  .list-header{
    width: 100%;
    margin-top: 10px;
    //height: 40px;
    span{
      font-size: 15px;
      font-weight: bolder;
    }
    .more-icon{
      float: right;
      font-size: 20px;
      font-weight: bolder;
    }
  }
}