.mobile-explore{
  width: 100%;
  height: auto;

  .home-listing{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    ul{
      padding: 10px;
      height: 100%;
      li{
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
        width: 200px;
      }
    }
  }
}