.h-menu{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border: 0.05em solid rgba(211,211,211,.290);
  ul{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    li{
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;
      font-size: 20px;
    }
  }
}