.mobile-explore-content{
  position: fixed;
  width: 100%;
  bottom: 60px;
  top: 60px;
  overflow-y: auto;
  border: 1px solid green;
  overflow-x: hidden;
  background-color: #FFFFFF;
  box-sizing: border-box;
}