* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-modal-wrapper {
    background: white;
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
    transition: all 1.1s ease;
    z-index: 10;
}

.profile-modal-header {
    background: #2c2c2c;
    color: #e9e9e9;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
}

.profile-modal-content {
    padding: 1.5rem 1rem;
}

.profrile-modal-body {
    margin-bottom: 1rem;
}

.profile-modal-body .profile-modal-h4 {
    font-size: 1.8rem;
    color: red;
}

.profile-modal-body p {
    font-size: 1rem;
    background: #eee;
    color: #333;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}

.profile-modal-footer .profile-save-btn {
    display: block;
    font-size: 1rem;
    margin-left: auto;
    padding: 0.5rem 1.8rem;
    background: red;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}