.settings-container {
    margin: 30px;
}

.settings-pri-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.icon-naming {
    display: flex;
    color: black;
}

.icon-naming p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.arrow-icon {
    color: black;
}