.explore{
  .progress-div{
    text-align: center;
  }
  padding: 10px;
  .by-category{
    width: fit-content;
    height: 40px;
    border: 1px solid #EDEDED;
    border-radius: 25px;
    opacity: 1;
    margin-left: 20px;
    ul{
      margin-top: 10px;
      li{
        list-style-type: none;
        display: inline-block;
        font-family: "Rage Italic", serif;
        font-weight: bolder;
        margin-right: 30px;
        a{
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }
  .row{
    padding: 0;
  }
}